<link rel="stylesheet" href="https://booking-app.webkul.com/booking-management/web/css/wk_bc_front.css">

<input id="custId" type="hidden" value="{{customer.id}}">

<div class="div-spin-loader">
  <div class="cp-spinner cp-skeleton"></div>
</div>
<div id ="wk-MainContent"><div>